
        <div class="row">
            <!-- <div class="col" style="
            background: url('/./assets/images/bg/loginpage.jpg') no-repeat center center!important;
            height: 650px;width: 900px;">bmbbbmbncvnv nb bmbmvv
            </div>
            <div class="col" style="
                background: url('/./assets/images/bg/loginpage.jpg') no-repeat center center!important;
                height: 650px;width:900px;">
            </div> -->
            <div class="col abimg" id="img"></div>
            <div class="col "></div>
        </div>